<div th:fragment="modalUser" id="userModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content container" style="max-width: 600px; padding: 0;">
    <div class="modal-header">
      <h2>Add User</h2>
      <span onclick="close()" class="close">&times;</span>
    </div>
    <div class="modal-body">
      <form action="/users/post" method="post">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">First and last name</span>
          </div>
          <input type="text" name="firstName" class="form-control">
          <input type="text" name="lastName" class="form-control">
        </div>

        <label>Balance:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input name="money" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success btn-lg w-25">Add</button>
        </div>
      </form>
    </div>
  </div>

</div>